<footer class="w-100 float-start position-relative footer-gro">
    <div class="container">
        <div class="w-100 float-start footer-inside-wrap">
            <div class="footer-blocks">
                <h4>Products</h4>
                <ul>
                    <li><a routerLink="/">Insta</a></li>
                    <li><a routerLink="/">Earn</a></li>
                    <li><a routerLink="/">Spot Trade</a></li>
                    <li><a routerLink="/">Margin Trade</a></li>
                    <li><a routerLink="/">Futures</a></li>
                    <li><a routerLink="/">API Broker</a></li>
                    <li><a routerLink="/">API Docs</a></li>
                    <li><a routerLink="/">Markets</a></li>
                    <li><a routerLink="/">Liquidity Services</a></li>
                    <li><a routerLink="/">Coin Listing</a></li>
                </ul>
            </div>
            <div class="footer-blocks">
                <h4>Company</h4>
                <ul>
                    <li><a routerLink="/">About Us</a></li>
                    <li><a routerLink="/">Blog</a></li>
                    <li><a routerLink="/">Policies</a></li>
                    <li><a routerLink="/">Fee Structure</a></li>
                    <li><a routerLink="/">Careers</a></li>
                    <li><a routerLink="/">Terms & Conditions</a></li>
                    <li><a routerLink="/">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-blocks">
                <h4>Connect</h4>
                <ul>
                    <li>Customer Support: <a href="mailto:dummy@dummymail.com">support@grosm.com</a></li>
                    <li>Team: <a href="mailto:dummy@dummymail.com">team@grosm.com</a></li>
                    <li>Press: <a href="mailto:dummy@dummymail.com">queries@grosm.com</a></li>
                </ul>
            </div>
            <div class="footer-blocks">
                <a routerLink="/"><img src="./../../../assets/images/logo-white.svg" alt="logo"></a>
                <p>Gro is a user-friendly cryptocurrency
                    app that allows you to securely buy, sell,
                    and manage popular cryptocurrencies like
                    Bitcoin, Ethereum, and Litecoin. With
                    a sleek and intuitive interface, Gro makes
                    it easy for beginners and experienced
                    investors alike to navigate the world of
                    digital currencies. </p>
                <div class="w-100 float-start list-social-networks mb-4">
                    <a routerLink="/"><img src="./../../../assets/images/facebook.svg" alt="facebook"></a>
                    <a routerLink="/"><img src="./../../../assets/images/twitter.svg" alt="twitter"></a>
                    <a routerLink="/"><img src="./../../../assets/images/linkedin.svg" alt="linkedin"></a>
                </div>
                <span>Ⓒ All rights reserved</span>
            </div>
        </div>
    </div>
</footer>