<div class="w-100 float-start landing-gro-wraper position-relative">
    <div class="container">
        <div class="w-100 float-start position-relative header-shot-landing">
            <div class="col-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8 h-100 position-absolute chart-top-header-shot">
                <div class="w-100 float-start" id="chart-live"></div>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-6 col-xxl-6 float-start left-content-heroshot">
                <h1>Empower Your Crypto
                    Trading with Our
                    Cutting-Edge Platform! </h1>
                <p>Trade with Confidence: Secure, Fast, and User-Friendly Cryptocurrency Trading Platform. Advanced
                    Tools
                    and Features for Successful Crypto Trading.</p>
                <div class="w-100 float-start mt-4">
                    <a href="#" class="get-started-btn float-start">Get Started</a>
                    <div class="w-100 float-start mt-4">
                        <a href="#" class="float-start me-3"><img src="./../../../assets/images/play-store.png"></a>
                        <a href="#" class="float-start"><img src="./../../../assets/images/apple-store.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>