<app-index-header></app-index-header>
<div class="w-100 float-start landing-gro-wraper position-relative">
    <section class="w-100 float-start position-relative top-header-shot-landing" data-aos="fade-up">
        <div class="container">
            <div class="w-100 float-start position-relative header-shot-landing">
                <div class="col-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8 h-100 position-absolute chart-top-header-shot">
                    <div class="w-100 float-start" id="chart-live"></div>
                </div>
                <div
                    class="col-12 col-md-9 col-lg-8 col-xl-6 col-xxl-6 float-start position-relative left-content-heroshot">
                    <h1 data-aos="fade-up">Empower Your Crypto
                        Trading with Our
                        Cutting Edge Platform! </h1>
                    <p data-aos="fade-up">Trade with Confidence: Secure, Fast, and User-Friendly
                        Cryptocurrency Trading Platform. Advanced
                        Tools
                        and Features for Successful Crypto Trading.</p>
                    <div class="w-100 float-start mt-4" data-aos="fade-up">
                        <a routerLink="/" class="get-started-btn float-start">Get Started</a>
                        <div class="w-100 float-start mt-4">
                            <a routerLink="/" class="float-start me-2"><img
                                    src="./../../../assets/images/play-store.png"></a>
                            <a routerLink="/" class="float-start"><img
                                    src="./../../../assets/images/apple-store.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w-100 float-start gro-investors" data-aos="fade-down">
        <div class="container">
            <div class="w-100 float-start position-relative gro-investors-inside">
                <h4>Our Top Investors</h4>
                <div class="investor-lists">
                    <img src="./../../../assets/images/inv-logo-01.svg" alt="investors">
                    <img src="./../../../assets/images/inv-logo-02.svg" alt="investors">
                    <img src="./../../../assets/images/inv-logo-03.svg" alt="investors">
                    <img src="./../../../assets/images/inv-logo-04.svg" alt="investors">
                </div>
            </div>
        </div>
    </section>
    <section class="w-100 float-start best-feature-section">
        <div class="container">
            <div class="w-100 float-start position-relative best-feature-inside">
                <div class="col-12 col-md-12 col-lg-5 col-xl-5 col-xxl-5 bfs-left-content">
                    <h2 data-aos="fade-up">Best features<br>
                        For Users convenience</h2>
                    <p data-aos="fade-up">Cryptocurrencies are decentralized digital assets that are
                        not controlled by any central
                        authority, such as a government or financial institution.</p>
                    <a routerLink="/" class="btn-action" data-aos="fade-up">Let's Start Trading</a>
                </div>
                <div class="col-12 col-md-12 col-lg-7 col-xl-7 col-xxl-7 bfs-right-blocks">
                    <div class="bfs-blocks-wraper">
                        <div class="bfs-info-block color-bsf-one text-center" data-aos="fade-up">
                            <img src="./../../../assets/images/ico-01.svg" alt="image">
                            <h5>Easy Payment</h5>
                            <p>Grome Easy payment made simple
                                with just a few clicks or taps.</p>
                        </div>
                        <div class="bfs-info-block color-bsf-two text-center mt-4" data-aos="fade-down">
                            <img src="./../../../assets/images/ico-02.svg" alt="image">
                            <h5>Best Ecosystem</h5>
                            <p>Stay on top of the markets with the Grow app for android or iOS</p>
                        </div>
                    </div>
                    <div class="bfs-blocks-wraper" data-aos="fade-up">
                        <div class="bfs-info-block color-bsf-three  text-center">
                            <img src="./../../../assets/images/ico-03.svg" alt="image">
                            <h5>Vault Protection</h5>
                            <p>Vault protection provides secure storage for your valuable assets, keeping them safe.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w-100 float-start best-feature-section bottom-smart-secure-section">
        <div class="container">
            <div class="w-100 float-start position-relative best-feature-inside bottom-best-feature-inside">
                <div class="col-12 col-md-12 col-lg-7 col-xl-7 col-xxl-7 bfs-right-blocks">
                    <div class="bfs-blocks-wraper">
                        <div class="bfs-info-block color-bsf-one text-center smart-secure-sec-blocks"
                            data-aos="fade-up">
                            <img src="./../../../assets/images/ico-04.svg" alt="image">
                            <h3>98+</h3>
                            <h5>Countries</h5>
                        </div>
                        <div class="bfs-info-block color-bsf-two text-center smart-secure-sec-blocks mt-5 crypto-amount"
                            data-aos="fade-down">
                            <img src="./../../../assets/images/ico-05.svg" alt="image">
                            <h3>200+</h3>
                            <h5>Crypto Currencies</h5>
                        </div>
                    </div>
                    <div class="bfs-blocks-wraper">
                        <div class="bfs-info-block color-bsf-three smart-secure-sec-blocks  text-center"
                            data-aos="fade-up">
                            <img src="./../../../assets/images/ico-06.svg" alt="image">
                            <h3>92M</h3>
                            <h5>Invested</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-5 col-xl-5 col-xxl-5 bfs-left-content">
                    <h2 data-aos="fade-up">Invest in crypto.<br>
                        Smart and secure way</h2>
                    <p data-aos="fade-up">Invest in crypto with confidence using a smart and secure approach, leveraging
                        advanced
                        technology and robust security measures for peace of mind.</p>
                    <a data-aos="fade-up" routerLink="/" class="btn-action">Let's Start Investing</a>
                </div>
            </div>
        </div>
    </section>
    <section class="w-100 float-start trading-now-section">
        <div class="container">
            <div class="w-100 float-start title-tn-sec text-center" data-aos="fade-down">
                <h4 data-aos="fade-up">Top Crypto's Trending Now</h4>
                <p>Discover the hottest crypto trends of the moment, as top cryptocurrencies capture the attention of
                    investors and enthusiasts with their soaring popularity and potential for high returns.</p>
            </div>
            <div class="w-100 float-start slides-trading-comp" data-aos="fade-down">

                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <a routerLink="/" class="block-crypto-trading-wrap w-100 float-start">
                            <div class="w-100 float-start block-crypto-trading">
                                <div class="w-100 title-crypto-block">
                                    <img src="./../../../assets/images/shib.svg" alt="crypto">
                                    <h6>Shib</h6>
                                </div>
                                <div class="w-100 float-start crypto-value mt-5">
                                    <h5>$ 39.52</h5>
                                    <span>$ 6.32 <img src="./../../../assets/images/blue-arrow.svg" alt="target"></span>
                                </div>
                                <div class="w-100 float-start crypto-value-lasthour mt-3">
                                    <span class="highlisht-amount">$ 126</span>
                                    <span class="info-time">Last 24 hours</span>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a routerLink="/" class="block-crypto-trading-wrap w-100 float-start">
                            <div class="w-100 float-start block-crypto-trading">
                                <div class="w-100 title-crypto-block">
                                    <img src="./../../../assets/images/drep.svg" alt="crypto">
                                    <h6>Drep</h6>
                                </div>
                                <div class="w-100 float-start crypto-value mt-5">
                                    <h5>$ 425.12</h5>
                                    <span>$ 4.21 <img src="./../../../assets/images/orange-arrow.svg"
                                            alt="target"></span>
                                </div>
                                <div class="w-100 float-start crypto-value-lasthour mt-3">
                                    <span class="highlisht-amount">$ 201</span>
                                    <span class="info-time">Last 24 hours</span>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a routerLink="/" class="block-crypto-trading-wrap w-100 float-start">
                            <div class="w-100 float-start block-crypto-trading">
                                <div class="w-100 title-crypto-block">
                                    <img src="./../../../assets/images/matic.svg" alt="crypto">
                                    <h6>Matic</h6>
                                </div>
                                <div class="w-100 float-start crypto-value mt-5">
                                    <h5>$ 1,203</h5>
                                    <span>$ 10.01<img src="./../../../assets/images/blue-arrow.svg" alt="target"></span>
                                </div>
                                <div class="w-100 float-start crypto-value-lasthour mt-3">
                                    <span class="highlisht-amount">$ 183</span>
                                    <span class="info-time">Last 24 hours</span>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a routerLink="/" class="block-crypto-trading-wrap w-100 float-start">
                            <div class="w-100 float-start block-crypto-trading">
                                <div class="w-100 title-crypto-block">
                                    <img src="./../../../assets/images/usdt.svg" alt="crypto">
                                    <h6>USTD</h6>
                                </div>
                                <div class="w-100 float-start crypto-value mt-5">
                                    <h5>$ 362.11</h5>
                                    <span>$ 4.20<img src="./../../../assets/images/blue-arrow.svg" alt="target"></span>
                                </div>
                                <div class="w-100 float-start crypto-value-lasthour mt-3">
                                    <span class="highlisht-amount">$ 62</span>
                                    <span class="info-time">Last 24 hours</span>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                </owl-carousel-o>

            </div>
        </div>
    </section>
    <section class="w-100 float-start text-center app-section position-relative">
        <div class="app-section-inner-wrap w-100 float-start position-relative">
            <h3 data-aos="fade-down">2.5 Crore+* people choose Gro,<br>
                World's most valued Crypto Investment App</h3>
            <div class="img-mob-app w-100 float-start mt-5" data-aos="fade-up">
                <img src="./../../../assets/images/mobile-app.png" alt="mobile-app">
            </div>
            <div class="w-100 float-start d-flex align-items-center flex-column download-app-section"
                data-aos="fade-down">
                <p>Download Grome from</p>
                <div>
                    <a routerLink="/" class="me-3"><img src="./../../../assets/images/play-store-big.png"></a>
                    <a routerLink="/"><img src="./../../../assets/images/apple-store-big.png"></a>
                </div>
            </div>
        </div>
        <div class="wave">
            <div class="wave__container">
                <div class="wave__circle"></div>
                <div class="wave__circle"></div>
                <div class="wave__circle"></div>
            </div>
        </div>
    </section>
</div>
<app-index-footer></app-index-footer>