<header class="w-100 float-start gro-header-wrap">
    <div class="container">
        <nav class="navbar navbar-expand-lg p-0">
            <div class="container-fluid">
                <a class="navbar-brand p-0" href="#"><img src="./../../../assets/images/logo.svg" alt="gro"></a>
                <!-- <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <div id="nav-icon3" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar"
                    role="button">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="collapse navbar-collapse gro-nav-links" id="navbar">
                    <ul class="navbar-nav">
                        <li><a routerLink="/">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" routerLink="/" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Crypto Currencies
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" routerLink="/">Bitcoin</a></li>
                                <li><a class="dropdown-item" routerLink="/">Ethereum</a></li>
                                <li><a class="dropdown-item" routerLink="/">Tether</a></li>
                                <li><a class="dropdown-item" routerLink="/">BNB</a></li>
                                <li><a class="dropdown-item" routerLink="/">Cardano</a></li>
                                <li><a class="dropdown-item" routerLink="/">Litecoin</a></li>
                                <li><a class="dropdown-item" routerLink="/">See All Currencies</a></li>
                            </ul>
                        </li>
                        <li><a routerLink="/">Exchange</a></li>
                        <li><a routerLink="/">Contact</a></li>
                        <li><a routerLink="/">Login</a></li>
                    </ul>
                    <a routerLink="/" class="gro-start-investing">Start Investing</a>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="invisible-wrap w-100 float-start position-absolute"></div>